@model Acme.GeoGarbage.UI.MVC.Areas.Admin.ViewModels.UsuarioViewModel

@{
    ViewBag.Title = "Login";
}


<div class="row-fluid">
    <div class="col-md-4"></div>
    <div class="col-md-4">


        @using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.ValidationSummary(true, String.Empty, new { @class = "alert alert-danger" })

            <div class="panel panel-default">
                <div class="panel-heading">LOG IN</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Login, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Senha, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <input type="submit" class="btn btn-default" value="ENTRAR" />
                    <input type="reset" class="btn btn-default" value="LIMPAR CAMPOS" />
                    @Html.ActionLink("RECUPERAR SENHA", "EnviarSenhaviaEmail", "Login", new { Area = "" }, new { @class = "btn btn-default" })
                </div>
            </div>

        }
    </div>
    <div class="col-md-4"></div>
</div>
